<!doctype html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head data-th-replace="~{fragments/adminBasic::head}">
</head>

<body>
<!-- Body Wrapper -->
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">
  <!-- Sidebar Start -->
  <aside data-th-replace="~{fragments/adminBasic :: sidebar}" ></aside>
  <!--  Sidebar End -->
  <div class="body-wrapper">
    <div class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
      <div class="d-flex align-items-center justify-content-center w-100">
        <div class="row justify-content-center w-100">
          <div class="col-md-8 col-lg-6 col-xxl-12"> <!-- Updated class to col-xxl-12 -->
            <div class="card mb-100">
              <div class="card-body">
                <div>
                  <a th:href="@{/admin/dashboard}" style="color: black;"><i class="ti ti-aperture"></i> Dash-Board</a>
                </div>
                <div class="table-responsive"> <!-- Added table-responsive class -->

                  <form th:action="@{/admin/subCategories}" method="post" th:object="${newSubCategory}">
                    <h2>Add New Sub-Category</h2>
                    <div class="mb-3">
                      <label for="name">Sub-Category Name</label>
                      <input type="text" id="name" name="name" th:field="*{name}" class="form-control" required>
                    </div>

                    <div class="mb-3">
                      <label for="parentCategory">Parent-Category Name</label>
                      <select id="parentCategory" name="parentCategory.id">
                        <option th:each="category : ${categories}"
                                th:value="${category.id}" th:text="${category.name}"></option>
                      </select>
                    </div>

                    <button type="submit" class="btn btn-primary col-md-12">Add Sub-Category</button>

                    <p th:if="${subCategoryExistsError}" th:text="${subCategoryExistsError}" style="color: red;"></p>
                  </form>
                </div>
              </div>
              <div class="card-body">
                <a th:href="@{/index}" class="text-nowrap logo-img text-center d-block py-3 w-100">
                  <img src="../assets/images/logos/dark-logo.svg" width="180" alt="">
                </a>
                <p class="text-center">Categories of Bee&Baa</p>
                <h1>Category List</h1>
                <div class="table-responsive"> <!-- Added table-responsive class -->
                  <div th:if="${message}">
                    <p th:text="${message}" class="alert alert-info"></p>
                  </div>
                  <table style="width: 100%; text-align: center;">
                    <!-- Display the flash attribute message if it exists -->
                    <thead>
                    <tr>
                      <th>ID</th>
                      <th>Sub-Category Name</th>
                      <th>Parent-Category Name</th>
                      <th>Edit</th>
                      <th>Delete</th>
                      <!-- Add more columns as needed -->
                    </tr>
                    </thead>
                    <tbody>
                    <!-- Use Thymeleaf to iterate through the list of users and populate the table rows -->
                    <tr th:each="subCategory : ${subCategories}">
                      <td th:text="${subCategory.id}"></td>
                      <td th:text="${subCategory.name}"></td>
                      <th th:text="${subCategory.parentCategory.name}"></th>
                      <td><a th:href="@{'/admin/subCategories/get/'+ ${subCategory.id}}" >
                        <i class="ti ti-edit"></i></a>
                      </td>

                      <td>
                        <a th:href="@{'/admin/subCategories/delete/' + ${subCategory.id}}"
                           onclick="return confirm('Are you sure you want to delete this category?')">
                          <i class="ti ti-trash"></i>
                        </a>
                      </td>

                      <!-- Add more columns as needed -->
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div data-th-replace="~{fragments/adminBasic :: script}"></div>
</body>
</html>
