<!doctype html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head data-th-replace="~{fragments/adminBasic::head}">
</head>

<body>
<!-- Body Wrapper -->
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">
  <!-- Sidebar Start -->
  <aside data-th-replace="~{fragments/adminBasic :: sidebar}" ></aside>
  <!--  Sidebar End -->
  <div class="body-wrapper">
    <div class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
      <div class="d-flex align-items-center justify-content-center w-100">
        <div class="row justify-content-center w-100">
          <div class="col-md-8 col-lg-6 col-xxl-12"> <!-- Updated class to col-xxl-12 -->
            <div class="card mb-100">
              <div class="card-body">
                <div>
                  <a th:href="@{/admin/dashBoard}" style="color: black;"><i class="ti ti-aperture"></i> Dash-Board</a>
                </div>
                <div class="table-responsive"> <!-- Added table-responsive class -->

                  <form th:action="@{/admin/product/offer/{productId}(productId=${product.id})}" method="post" th:object="${newOffer}" enctype="multipart/form-data">
                    <h2>Add Product Offer</h2>

                    <div class="mb-3">
                      <label for="discountPrice">Discount :</label>
                      <input type="text" id="discountPrice" name="discountPrice" th:field="*{discountPrice}" class="form-control" required>
                    </div>

                    <div class="mb-3">
                      <label for="expirationDate">Discount :</label>
                      <input  type="date" id="expirationDate" name="expirationDate" th:field="*{expirationDate}" class="form-control" required>
                    </div>
                    <button type="submit" class="btn btn-primary col-md-12">Add Offer</button>
                  </form>
                </div>
              </div>

              <div class="card-body" th:if="${products != null and not #lists.isEmpty(products)}">
                <p th:style="'color: red; text-align: center;'">*While adding new offer, the existing offer will be removed</p>
                <div class="table-responsive">
                  <table style="width: 100%; text-align: center;">
                    <!-- Display the flash attribute message if it exists -->
                    <thead>
                    <tr>
                      <th>Discount %</th>
                      <th>Expiry</th>
                      <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="product : ${products}">
                      <td th:text="${product.discountPrice}"></td>
                      <td th:text="${product.expirationDate}"></td>
                      <td><a ><i class="ti ti-trash"></i></a></td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div data-th-replace="~{fragments/adminBasic :: script}"></div>


</body>
</html>
