<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head data-th-replace="~{fragments/basic::head}">
</head>
<body>


<!--&lt;!&ndash; Page Preloder &ndash;&gt;-->
<!--<div data-th-replace="~{fragments/basic::preload}"></div>-->


<!-- Offcanvas Menu Begin -->
<div data-th-replace="~{fragments/basic::offcanvas}"></div>
<!-- Offcanvas Menu End -->

<!-- Header Section Begin -->
<header data-th-replace="~{fragments/basic::header}">
</header>
<!--End of Header Section  -->
<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="index.html"><i class="fa fa-home"></i> Home</a>
                    <span>Checkout</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Checkout Section Begin -->
<section class="checkout spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h6 class="coupon__link"><span class="icon_tag_alt"></span> <a href="#">Have a coupon?</a> Click
                    here to enter your code.</h6>
            </div>
        </div>

        <th:block th:if="${user != null}">
            <form th:action="@{/cart/checkout}" class="checkout__form" method="post">

                <input type="hidden" name="grandTotal" th:value="${grandTotal}">
                <input type="hidden" name="subTotal" th:value="${subTotal}" />
                <div class="row">
                    <div class="col-lg-6">
                        <h5>Billing detail</h5>
                        <div class="row">
                            <div class="col-lg-12">

                                <!--                LOGGED IN USER DETAILS-->
                                <div >
                                    <br>
                                    <b>Name</b>
                                    <p th:text="${user.name}"></p>
                                    <br>

                                    <div class="mb-3">
                                        <b>Email</b>
                                        <p th:text="${user.email}"></p>
                                    </div>

                                    <br>

                                    <div class="mb-3">
                                        <b>Phone number</b>
                                        <p th:text="${user.mobileNo}"></p>
                                    </div>
                                </div>
                                <br>
                                <input type="hidden" name="user" th:value="${user.id}" />

                                <div class="checkout__form__checkbox">
                                    <label th:each="address, iterStat : ${addresses}" th:id="'address_' + ${iterStat.index}">
                                        <input type="checkbox" class="address-checkbox" th:id="'add_' + ${iterStat.index}" name="selectedAddress" th:value="${address.id}" th:checked="${iterStat.index == 0}" /><span th:text="${address.country + ', ' + address.state + ', ' + address.city + ', ' + address.address + ', ' + address.postcode}"></span>
                                        <span class="checkmark"></span>
                                    </label>
                                </div>

                                <a class="btn btn-primary col-md-8 " th:href="@{/user/address}">+ Add Address</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6" >
                        <div class="checkout__order">
                            <div th:if="${errorMessage}" class="alert alert-danger">
                                <p th:text="${errorMessage}" style="color: red;"></p>
                            </div>
                            <h5>Your order</h5>
                            <div class="checkout__order__product">

                                <table style="width: 100%;">
                                    <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th>Quantity</th>
                                        <th>Price</th>
                                        <th>Offer Price</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <!-- Check if product is not null (single product view) -->
                                    <tr th:each="cartlistItem, itemIndex : ${cartlist}">
                                        <td th:text="${cartlistItem.products.name}">Product Name</td>
                                        <td th:text="${cartlistItem.quantity}"></td>
                                        <td>
                                            <span  th:text="${cartlistItem.products.myPrice}">Total Price</span>
                                        </td>
                                        <td  th:text="${cartlistItem.products.actualPrice}">

                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="checkout__order__total">
                                <ul>
                                    <li>Subtotal <span  th:text="${subTotal}"></span></li>
                                    <li>Total <span id="total"  th:text="${grandTotal}"></span></li>
                                </ul>

                                <!-- Add a button for "Redeem from Wallet" -->
                                <label th:if="${walletAmount !=null}">
                                    Redeem
                                    <input type="radio" id="redeemCheckbox">
                                </label>
                                <p th:text="'Wallet Amount: ' + ${walletAmount}"></p>
                            </div>


                            <div class="checkout__order__widget">
                                <label for="cod">
                                    Cash on delivery
                                    <input type="radio" id="cod" name="paymentMethod" value="COD">
                                    <span class="checkmark"></span>
                                </label>
                                <label for="upi">
                                    UPI
                                    <input type="radio" id="upi" name="paymentMethod" value="UPI">
                                    <span class="checkmark"></span>
                                </label>

                                <label for="wallet" id="walletLabel">
                                    Wallet payment
                                    <input type="radio" id="wallet" name="paymentMethod" value="WALLET" >
                                    <span class="checkmark"></span>
                                </label>
                            </div>

                            <!-- Hidden input field for the discounted amount -->
                            <input type="hidden" id="discountedAmount" name="walletBalanceAmount" value="0">

                            <!-- Hidden input field to hold the totalAmount value -->
                            <input type="hidden" name="totalAmount" id="totalAmount">

                            <button type="submit" class="site-btn">Place Order</button>
                        </div>
                    </div>

                </div>
            </form>
        </th:block>

        <th:block th:unless="${user != null}">
            <br>
            <div class="checkout__form__checkbox">
                <a class="btn btn-primary col-md-12" th:href="@{/register}">Create account</a>
                <p>Create an account for proceeding checkout. If you are a guest,
                    create an account by clicking <br /> the button</p>
            </div>
        </th:block>
    </div>
</section>
<!-- Checkout Section End -->


<!-- Instagram Begin -->
<div data-th-replace="~{fragments/basic::instagram}" ></div>
<!-- Instagram End -->

<!-- Footer Section Begin -->
<footer data-th-replace="~{fragments/basic::footer}" ></footer>
<!-- Footer Section End -->

<!-- Search Begin -->
<div data-th-replace="~{fragments/basic::search}" ></div>
<!-- Search End -->

<!-- Js Plugins -->
<div data-th-replace="~{fragments/basic::script}"> </div>



<script>
    document.getElementById('redeemCheckbox').addEventListener('change', function() {
        var grandTotal = parseFloat([[${grandTotal}]]);
        var walletAmount = parseFloat([[${walletAmount}]]);
        var redeemCheckbox = document.getElementById('redeemCheckbox');
        var discountedAmountField = document.getElementById('discountedAmount');


        if (redeemCheckbox.checked) {
            var originalGrandTotal = grandTotal; // Store the original grandTotal
            if (grandTotal >= walletAmount) {
                grandTotal -= walletAmount;

            } else {
                grandTotal = 0;
            }

            // Calculate the difference and update the hidden input field
            var discountedAmount = originalGrandTotal - grandTotal;
            discountedAmountField.value = discountedAmount;
        } else {
            grandTotal += walletAmount;
            discountedAmountField.value = 0;
        }

        document.querySelector('.checkout__order__total li:last-child span').textContent = grandTotal.toFixed(2);
    });
</script>


<script th:inline="javascript">
    document.addEventListener("DOMContentLoaded", function () {
        const totalSpan = document.getElementById("total");
        const walletLabel = document.getElementById("walletLabel");
        const otherOptions = document.querySelectorAll("input[name='paymentMethod']:not(#wallet)");

        // Function to toggle visibility of payment options
        function togglePaymentOptions() {
            const totalValue = parseFloat(totalSpan.textContent);
            if (totalValue === 0) {
                walletLabel.style.display = "block"; // Show the wallet option
                otherOptions.forEach(option => {
                    option.parentNode.style.display = "none"; // Hide other options
                });
            } else {
                walletLabel.style.display = "none"; // Hide the wallet option
                otherOptions.forEach(option => {
                    option.parentNode.style.display = "block"; // Show other options
                });
            }
        }

        // Initial check
        togglePaymentOptions();

        // Listen for changes in the total value
        totalSpan.addEventListener("DOMSubtreeModified", togglePaymentOptions);
    });
</script>


</body>

</html>