<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.w3.org/1999/xhtml">

<head data-th-replace="~{fragments/basic::head}">
    <title>Ashion | Template</title>
</head>

<body>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>


<!-- Offcanvas Menu Begin -->
<div data-th-replace="~{fragments/basic::offcanvas}"></div>
<!-- Offcanvas Menu End -->

<!-- Header Section Begin -->
<header data-th-replace="~{fragments/basic::header}">
</header>
<!--End of Header Section  -->

<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a th:href="@{/}"><i class="fa fa-home"></i> Home</a>
                    <span>Shop</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Shop Section Begin -->
<section class="shop spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="shop__sidebar">
                    <div class="sidebar__categories">
                        <div class="section-title">
                            <h4>Categories</h4>
                        </div>
                        <div class="categories__accordion">
                            <div class="accordion" id="accordionExample">
                                <div class="card" th:each="category : ${categories}">
                                    <div class="card-heading active">
                                        <a data-toggle="collapse" th:href="'#collapse_' + ${category.id}" th:text="${category.name}"></a>
                                    </div>
                                    <div th:id="'collapse_' + ${category.id}" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <ul>
                                                <li th:each="subCategory : ${subCategories}" th:if="${subCategory.parentCategory.id == category.id}" >

                                                    <a th:href="@{/category/{Id}/{type} (Id=${subCategory.id},type='subCategory')}" th:text="${subCategory.name}"></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar__filter">
                        <div class="section-title">
                            <h4>Shop by price</h4>
                        </div>
                        <div class="filter-range-wrap">
                            <div class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"
                                 data-min="0" th:attr="data-max=${maxPrice}"></div>
                            <div class="range-slider">
                                <div class="price-input">
                                    <p>Price:</p>
                                    <input type="text" id="minamount">
                                    <input type="text" id="maxamount">
                                </div>
                            </div>
                        </div>
                        <script>
    function filterProducts() {
        var minAmount = document.getElementById("minamount").value;
        var maxAmount = document.getElementById("maxamount").value;

        var url = "/category/filter/" + minAmount + "/" + maxAmount;

        // Redirect to the filtered page
        window.location.href = url;
    }
</script>

                        <a href="javascript:void(0);" onclick="filterProducts()">Filter</a>

                    </div>

                </div>
            </div>
            <div class="col-lg-9 col-md-9">
                <div th:if="${error != null}" class="alert alert-danger" id="error-alert">
                    <p th:text="${error}"></p>
                </div>
                <div th:if="${success != null}" class="alert alert-success" id="success-alert">
                    <p th:text="${success}"></p>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6" th:if="${#lists.isEmpty(products)}">
                        <h1>Oops!!</h1>
                        <p>No products available.</p>

                    </div>
                    <div class="col-lg-4 col-md-6"  th:unless="${#lists.isEmpty(products)}" th:each="product, iterStat : ${products}">
                        <div class="product__item">
                            <div class="product__item__pic"
                                 th:style="'background-image: url(data:image/png;base64,' + ${encodedImagesList[__${iterStat.index}__]} + '); background-size: cover; background-position: center;'">
<!--                                <div class="label new">New</div>-->
                                <ul class="product__hover">
                                    <li>
                                        <a th:href="'data:image/png;base64,' + ${encodedImagesList[__${iterStat.index}__]}" class="image-popup">
                                            <span class="arrow_expand"></span>
                                        </a>
                                    </li>

                                    <li>
                                        <a th:href="'/user/wishlist/add/' + ${product.id}" ><span class="icon_heart_alt"></span></a>
                                    </li>
                                    <li>
                                        <a th:href="'/user/cart/add/' + ${product.id}"><span class="icon_bag_alt"></span></a>
                                    </li>
                                    <li><a th:href="@{/productView/{productId}(productId=${product.id})}"><span class="fa fa-eye"></span></a></li>
                                </ul>

                            </div>
                            <div class="product__item__text">
                                <h6 th:text="${product.name}"><a href="#">name</a></h6>
                                <div class="rating">
                                    <i th:each="starNumber : ${#numbers.sequence(1, 5)}"
                                       class="fa"
                                       th:classappend="${starNumber <= product.averageRating ? 'fa-star' : 'fa-star-o'}">&nbsp;&nbsp;</i>
                                </div>

                                <div style="display: inline;">
                                    <del th:text="${product.actualPrice}" th:if="${product.myPrice < product.actualPrice}"></del>
                                </div>
                                <!-- Use inline CSS for the style -->
                                <div  style="display: block;">
                                    <p class="product__price" th:text="${product.myPrice}"></p>
                                </div>

                            </div>
                        </div>
                    </div>


<!--                    pagination-->


<!--                    <div class="col-lg-12 text-center">-->
<!--                        <div class="pagination__option">-->
<!--                            <a href="tata">1</a>-->
<!--                            <a href="#">2</a>-->
<!--                            <a href="#">3</a>-->
<!--                            <a href="#"><i class="fa fa-angle-right"></i></a>-->
<!--                        </div>-->
<!--                    </div>-->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shop Section End -->


<!--                                <div th:unless="${product.discountPrice == null}">-->
<!--                                    &lt;!&ndash; Use inline CSS for the style &ndash;&gt;-->
<!--                                    <div style="display: inline;">-->
<!--                                        <del th:text="${product.myPrice}"></del>-->
<!--                                        <p style="display: inline; margin-left: 5px;" th:text="${product.discountPrice + '% OFF'}"></p>-->
<!--                                    </div>-->
<!--                                    &lt;!&ndash; Use inline CSS for the style &ndash;&gt;-->
<!--                                    <div style="display: block;">-->
<!--                                        <p class="product__price" th:text="${product.actualPrice}"></p>-->
<!--                                    </div>-->
<!--                                </div>-->

<!-- Instagram Begin -->
<div data-th-replace="~{fragments/basic::instagram}" ></div>
<!-- Instagram End -->

<!-- Footer Section Begin -->
<footer data-th-replace="~{fragments/basic::footer}" ></footer>
<!-- Footer Section End -->

<!-- Search Begin -->
<div data-th-replace="~{fragments/basic::search}" ></div>
<!-- Search End -->


<div data-th-replace="~{fragments/basic::script}">
</div>
</body>

</html>