<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.w3.org/1999/xhtml">

<head data-th-replace="~{fragments/basic::head}">
    <title>Ashion | Template</title>

</head>

<body>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>


<!-- Offcanvas Menu Begin -->
<div data-th-replace="~{fragments/basic::offcanvas}"></div>
<!-- Offcanvas Menu End -->

<!-- Header Section Begin -->
<header data-th-replace="~{fragments/basic::header}">
</header>
<!--End of Header Section  -->

<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="index.html"><i class="fa fa-home"></i> Home</a>
                    <a href="#">Women’s </a>
                    <span>Essential structured blazer</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Product Details Section Begin -->
<section class="product-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="product__details__pic">
                    <div class="product__details__pic__left product__thumb nice-scroll">
                        <a class="pt" href="#product-{{iterStat.index}}" th:each="encodedImage, iterStat : ${encodedImages}">
                            <img th:src="@{|data:image/jpeg;base64,${encodedImage}|}" alt="" style="margin: 10px; max-height: 105px; max-width: 110px; width: auto; height: auto; display: block; object-fit: contain; margin: 10px auto;">
                        </a>
                    </div>
                    <div class="product__details__slider__content">
                        <div class="product__details__pic__slider owl-carousel">
                            <th:block th:each="encodedImage, iterStat : ${encodedImages}">
                                <img
                                        th:src="@{|data:image/jpeg;base64,${encodedImage}|}"
                                        data-hash="product-{{iterStat.index}}"
                                        alt=""
                                >
                            </th:block>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-6">
                <div class="product__details__text">
                    <h3 th:text="${product.name}">product name <span>Brand: SKMEIMore Men Watches from SKMEI</span></h3>
                    <div class="rating">
                        <i th:each="starNumber : ${#numbers.sequence(1, 5)}"
                           class="fa fa-star"
                           th:classappend="${starNumber <= averageRating ? '' : 'fa-star-o'}">&nbsp;&nbsp;</i>
                        <span>(<span th:text="${reviewCount}"></span> review)</span>
                    </div>

                    <div style="display: inline;">
                        <del th:text="${product.actualPrice}" th:if="${product.myPrice < product.actualPrice}"></del>
                    </div>

                    <div class="product__details__price" th:text="${product.myPrice}">price <span>$ 83.0</span></div>
                    <p>Nemo enim ipsam voluptatem quia aspernatur aut odit aut loret fugit, sed quia consequuntur
                        magni lores eos qui ratione voluptatem sequi nesciunt.</p>

                    <div class="product__details__button">
                        <div th:if="${error != null}" class="alert alert-danger" id="error-alert">
                            <p th:text="${error}"></p>
                        </div>

<!--                        <div th:if="${success != null}" class="alert alert-success" id="success-alert">-->
<!--                            <p th:text="${success}"></p>-->
<!--                        </div>-->

                    <div class="quantity">
                       <span>Quantity:</span>
                       <div class="pro-qty">
                         <span class="dec qtybtn"><a th:href="'/user/cart/add/' + ${product.id} + '?add=false'">-</a></span>
                           <input type="text" th:if="${productQuantity}" th:value="${productQuantity}" th:max="${product.stock}" />
                           <input type="text" th:unless="${productQuantity}" th:value="0" th:max="${product.stock}" />
                              <span  class="inc qtybtn"><a th:href="'/user/cart/add/' + ${product.id}" >+</a></span>
                         </div>
                    </div>


                        <a class="cart-btn" ><span class="icon_heart_alt"></span> Add to cart</a>

                        <ul>
                            <li >
                                <a th:href="'/user/wishlist/add/' + ${product.id}"
                                   th:style="${productInList} ? 'background-color: #ca1515;' : ''">
                                    <span  th:style="${productInList} ? 'color: #ffffff;' : ''" class="icon_heart_alt"></span>
                                </a>
                            </li>
                            <li>
                                <a th:href="@{'/checkOut/check?productId=' + ${product.id}}"
                                   onclick="return checkStock(${product.stock});">
                                    <span class="icon_adjust-horiz"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="product__details__widget">
                        <ul>
                            <li>

<!--                                //need to chage instock and out of stock-->
                                <span>Availability:</span>
                                <p th:if="${product.stock.compareTo(0) != 0}">In Stock</p>
                                <p th:if="${product.stock.compareTo(0) == 0}">Out of Stock</p>
                            </li>
                            <li>
                                <span>Promotions:</span>
                                <p>Free shipping</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="product__details__tab">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">Reviews ( <span th:text="${reviewCount}"></span> )</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">Specification</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab">Description</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabs-1" role="tabpanel">
                            <h6>Reviews ( <span th:text="${reviewCount}"></span>)</h6>
                            <!-- view reviews -->
                            <ul style="list-style: none;">
                                <!-- Iterate over the list of reviews -->
                                <li th:each="review : ${reviews}">
                                    <div class="review" style="background-color: #FBFBFB; border-radius: 10px; padding: 10px; margin-bottom: 10px;">
                                        <p>
                                            <span th:text="${review.user.name}"></span>
                                            <span th:text="${review.reviewDate.toLocalDate()}"></span>
                                        </p>
                                        <p>
                                            <span th:each="starNumber : ${#numbers.sequence(1, 5)}">
                                            <i th:class="${starNumber <= review.rating} ? 'fa fa-star' : 'fa fa-star-o'"></i>
                                        </span>
                                        </p>
                                        <p> <span th:text="${review.reviewText}"></span></p>
                                    </div>
                                </li>
                            </ul>



                            <form action="/admin/message/submit-review" method="POST">
                                <textarea id="reviewText" placeholder="review" name="reviewText" rows="2" cols="50" required></textarea>

                                <div class="rating">
                                    <i class="fa fa-star-o" data-rating="1"></i>
                                    <i  class="fa fa-star-o" data-rating="2" ></i>
                                    <i  class="fa fa-star-o" data-rating="3" ></i>
                                    <i  class="fa fa-star-o" data-rating="4" ></i>
                                    <i  class="fa fa-star-o" data-rating="5"></i>
                                </div>

                                <!-- Add hidden field for rating -->
                                <input type="hidden" id="rating" name="rating" value="1">

                                <!-- Add hidden field for product_id if needed -->
                                <input type="hidden" id="product_id" name="product_id" th:value="${product.id}">

                                <input type="submit" value="Submit Review">
                            </form>

                        </div>
                        <div class="tab-pane" id="tabs-2" role="tabpanel">
                            <h6>Specification</h6>
                            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut loret fugit, sed
                                quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt loret.
                                Neque porro lorem quisquam est, qui dolorem ipsum quia dolor si. Nemo enim ipsam
                                voluptatem quia voluptas sit aspernatur aut odit aut loret fugit, sed quia ipsu
                                consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Nulla
                                consequat massa quis enim.</p>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                                dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
                                nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium
                                quis, sem.</p>
                        </div>
                        <div class="tab-pane " id="tabs-3" role="tabpanel">
                            <h6>Description</h6>
                            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut loret fugit, sed
                                quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt loret.
                                Neque porro lorem quisquam est, qui dolorem ipsum quia dolor si. Nemo enim ipsam
                                voluptatem quia voluptas sit aspernatur aut odit aut loret fugit, sed quia ipsu
                                consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Nulla
                                consequat massa quis enim.</p>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                                dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
                                nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium
                                quis, sem.</p>
                        </div>


                    </div>
                </div>
            </div>
        </div>
<!--        <div class="label stockout">out of stock</div>-->

        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="related__title">
                    <h5>RELATED PRODUCTS</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6"  th:each="relatedProduct, iterStat : ${relatedProducts}" th:if="${iterStat.index} &lt; 4">
                <div class="product__item">
                    <div class="product__item__pic"
                         th:style="'background-image: url(data:image/png;base64,' + ${encodedRelatedImagesLists[__${iterStat.index}__]} + '); background-size: cover; background-position: center;'">
                        <div class="label new">New</div>
                        <ul class="product__hover">
                            <li>
                                <a th:href="'data:image/png;base64,' + ${encodedRelatedImagesLists[__${iterStat.index}__]}" class="image-popup">
                                    <span class="arrow_expand"></span>
                                </a>
                            </li>

                            <li>
                                <button class="add-to-wishlist" th:data-product-id="${relatedProduct.id}" style="background: none; border: none;" >
                                    <a><span class="icon_heart_alt"></span></a>
                                </button>
                            </li>

                            <!-- Inside the th:each loop for products -->
                            <li><button class="add-to-cartlist" th:data-product-id="${relatedProduct.id}" style="background: none; border: none;">
                                <a><span class="icon_bag_alt"></span></a></button>
                            </li>
                            <li><a th:href="@{/productView/{productId}(productId=${relatedProduct.id})}"><span class="fa fa-eye"></span></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6 th:text="${relatedProduct.name}"><a href="#">name</a></h6>
                        <div class="rating">
                            <i th:each="starNumber : ${#numbers.sequence(1, 5)}"
                               class="fa"
                               th:classappend="${starNumber <= relatedProduct.averageRating ? 'fa-star' : 'fa-star-o'}">&nbsp;&nbsp;</i>
                        </div>
                        <div style="display: inline;">
                            <del th:text="${product.actualPrice}" th:if="${product.myPrice < product.actualPrice}"></del>
                        </div>
                        <!-- Use inline CSS for the style -->
                        <div  style="display: block;">
                            <p class="product__price" th:text="${product.myPrice}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Details Section End -->

<!-- Instagram Begin -->
<div data-th-replace="~{fragments/basic::instagram}" ></div>
<!-- Instagram End -->

<!-- Footer Section Begin -->
<footer data-th-replace="~{fragments/basic::footer}" ></footer>
<!-- Footer Section End -->

<!-- Search Begin -->
<div data-th-replace="~{fragments/basic::search}" ></div>
<!-- Search End -->


<div data-th-replace="~{fragments/basic::script}"> </div>
<script>
    function checkStock(stock) {
            console.log("Stock:", stock); // Log the stock value to the console for debugging
        if (parseInt(stock) === 0) {
            alert("This product is out of stock.");
            return false; // Prevent redirection
        }
        return true; // Redirect if the product is in stock
    }
</script>


<script>
    const stars = document.querySelectorAll(".rating i");

    stars.forEach((star) => {
        star.addEventListener("click", () => {
            const rating = star.getAttribute("data-rating");
            document.getElementById("rating").value = rating;

            // Toggle the star icons between "fa-star-o" and "fa-star"
            stars.forEach((s) => {
                const sRating = s.getAttribute("data-rating");
                if (sRating <= rating) {
                    s.classList.remove("fa-star-o");
                    s.classList.add("fa-star");
                } else {
                    s.classList.remove("fa-star");
                    s.classList.add("fa-star-o");
                }
            });
        });
    });
</script>



</body>

</html>