<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head data-th-replace="~{fragments/basic::head}">
</head>

<body>

<!-- Offcanvas Menu Begin -->
<div data-th-replace="~{fragments/basic::offcanvas}"></div>
<!-- Offcanvas Menu End -->

<!-- Header Section Begin -->
<header data-th-replace="~{fragments/basic::header}">
</header>
<!--End of Header Section  -->

<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb__links">
          <a href="index.html"><i class="fa fa-home"></i> Home</a>
          <span>Profile</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Breadcrumb End -->


<!--  Body Wrapper -->

<div class="row justify-content-center">
  <a href="Admin/index.html" class="text-nowrap logo-img text-center d-block py-3 w-100">
    <img src="../assets/images/logos/dark-logo.svg" width="180" alt="">
  </a>
  <div class="col-md-8 col-lg-6 col-xxl-3 justify-content-center">
    <div class="card mb-0">
      <div th:if="${userMessage}">
        <p th:text="${userMessage}" class="alert alert-info"></p>
      </div>
      <div class="card-body">
        <p class="text-center" >User Details</p>
        <br>
        <div class="mb-3">
          <b>Name</b>
          <p th:text="${user.name}"></p>
        </div>
        <br>

        <div class="mb-3">
          <b>Email</b>
          <p th:text="${user.email}"></p>
        </div>

        <br>

        <div class="mb-2">
          <b>Phone number</b>
          <p th:text="${user.mobileNo}"></p>
        </div>
        <a class="btn btn-primary col-md-12" th:href="@{'/user/get/'+ ${user.id}}" >Edit User Details</a>
        <br>
        <br>
        <a th:href="@{'/user/getPass/'+ ${user.id}}" >Change password ?</a>
        <a th:href="@{/referral}">Create Referral ?</a>
      </div>
    </div>
  </div>
  <div class="col-md-8 col-lg-6 col-xxl-4 ">
    <div class="card mb-0">
      <div class="card-body">
        <div th:if="${success}">
          <p th:text="${success}" class="alert alert-info"></p>
        </div>
        <div class="mb-2">
          <a class="btn btn-primary col-md-8 " th:href="@{/address}" >+ Add Address</a>
        </div>

        <table style="width: 100%;">
          <thead>
          <tr>
            <th>Country</th>
            <th>State</th>
            <th>City</th>
            <th>Address</th>
            <th>Postcode</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
          </thead>
          <tbody>
          <!-- Loop through the addresses and display them in rows -->
          <tr th:each="address : ${addresses}">
            <td th:text="${address.country}">Country</td>
            <td th:text="${address.state}">State</td>
            <td th:text="${address.city}">City</td>
            <td th:text="${address.address}">Address</td>
            <td th:text="${address.postcode}">Postcode</td>
            <td> <a th:href="@{'/user/edit/' + ${address.id}}">
              <i class="fa fa-edit"></i></a>
            </td>
            <td>
              <a th:href="@{'/user/delete/' + ${address.id}}"
                 onclick="return confirm('Are you sure you want to delete this user?')">
                <i class="fa fa-trash"></i>
              </a>
            </td>
          </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>




<!-- Js Plugins -->
<div data-th-replace="~{fragments/basic::script}"> </div>



</body>
</html>