<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">

<head data-th-fragment="head">
    <meta charset="UTF-8">
    <meta name="description" content="Ashion Template">
    <meta name="keywords" content="Ashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ashion | Template</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
          rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/frontEnd/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/frontEnd/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/frontEnd/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/frontEnd/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/frontEnd/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/frontEnd/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/frontEnd/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/frontEnd/css/style.css" type="text/css">
</head>


<body>
<!-- Page Preloder -->
<div id="preloder" data-th-fragment="preload">
    <div class="loader"></div>
</div>

<!-- Offcanvas Menu Begin -->
<div data-th-fragment="offcanvas" data-th-remove="tag">
<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper" >
    <div class="offcanvas__close">+</div>
    <ul class="offcanvas__widget">
        <li><span class="icon_search search-switch"></span></li>
        <li><a href="#"><span class="icon_heart_alt"></span>
            <div class="tip">2</div>
        </a></li>
        <li><a href="#"><span class="icon_bag_alt"></span>
            <div class="tip">2</div>
        </a></li>
    </ul>
    <div class="offcanvas__logo">
        <a href="../basicTemplates/index.html"><img src="/frontEnd/img/logo.png" alt=""></a>
    </div>
    <div id="mobile-menu-wrap"></div>
    <div class="offcanvas__auth">
        <a href="#">Login</a>
        <a href="#">Register</a>
    </div>
</div>
</div>
<!-- Offcanvas Menu End -->

<!-- Header Section Begin -->
<header data-th-fragment="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-3 col-lg-2">
                <div class="header__logo">
                    <a href="../basicTemplates/index.html">
                        <img src="../frontEnd/img/logo.png" alt="">
                    </a>
                </div>
            </div>

            <div class="col-xl-6 col-lg-7">
                <nav class="header__menu">
                    <ul>
                        <li class="active"><a th:href="@{/}">Home</a></li>
                        <li th:each="category : ${categories}">
                            <a th:text="${#strings.arraySplit(category.name, ' ')[0]}" th:href="@{/category/{Id}/{type}(Id=${category.id},type='category')}"></a>

                        </li>
                        <li><a th:href="@{/contact}">Contact</a></li>
                        <li th:if="${session.jwtResponse != null}"> <a href=""> <i class="fa fa-user"></i><span th:text="${#strings.substringBefore(session.jwtResponse.name, ' ')}"></span>
                        </a>
                            <ul class="dropdown">
                                <li><a th:href="@{/user/profile}">My Profile</a></li>
                                <li><a th:href="@{/user/myOrders}">Orders</a></li>
                                <li><a th:href="@{/wallet}">Wallets</a></li>
                                <li><a th:href="@{/logout}"> <i class="fa fa-sign-out"></i></a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>


            <div class="col-lg-3">
                <div class="header__right">
                    <div class="header__right__auth" th:if="${session.jwtResponse == null}">
                        <a th:href="@{/signin}">Login</a>
                        <a th:href="@{/register}">Register</a>
                    </div>
                    <ul class="header__right__widget">
                        <li><span class="icon_search search-switch"></span></li>

                        <!-- Conditionally render the heart icon -->
                        <li th:if="${session.jwtResponse != null}">
                            <a th:href="@{/user/wishlist}">
                                <span class="icon_heart_alt"></span>
                                <div class="tip" th:text="${wishListCount}"></div>
                            </a>
                        </li>

                        <!-- Conditionally render the bag icon -->
                        <li th:if="${session.jwtResponse != null}">
                            <a th:href="@{/user/cart}">
                                <span class="icon_bag_alt"></span>
                                <div id="cart-count" class="tip" th:text="${totalQuantity}"></div>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="canvas__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</header>
<!-- Header Section End -->

<!-- Categories Section Begin -->
<section data-th-fragment="category" class="categories">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 p-0">
                <div class="categories__item categories__large__item"
                     th:style="'background-image: url(data:image/png;base64,' + ${categories[0].imageDataAsBase64} + ');background-size: cover; background-position: center;'">
                    <div class="categories__text">
                        <h1 th:text="${categories[0].name}">Category Name</h1>
                        <p th:text="${categories[0].description}">Category Description</p>
                        <a th:href="@{/category/{Id}/{type}(Id=${categories[0].id},type='category')}">Shop now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0" th:each="category, iterStat : ${categories}" th:if="${iterStat.index > 0}">

                        <div class="categories__item" th:style="'background-image: url(data:image/png;base64,' + ${category.imageDataAsBase64} + ');background-size: cover; background-position: center;'">
                            <div class="categories__text">
                                <h4 th:text="${category.name}">Category Name</h4>
                                <p th:text="${category.description}">Category Description</p>

                                <a th:href="@{/category/{Id}/{type}(Id=${category.id},type='category')}">Shop now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Categories Section End -->

<!-- Product Section Begin -->
<section data-th-fragment="product" class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="section-title">
                    <h4>New product</h4>
                </div>
            </div>
        </div>
        <div th:if="${error != null}" class="alert alert-danger" id="error-alert">
            <p th:text="${error}"></p>
        </div>
        <div th:if="${success != null}" class="alert alert-success" id="success-alert">
            <p th:text="${success}"></p>
        </div>

        <script type="text/javascript">
    // Function to hide alerts after 30 seconds
    function hideAlerts() {
        setTimeout(function () {
            document.getElementById("error-alert").style.display = "none";
            document.getElementById("success-alert").style.display = "none";
        }, 3000); // 3 seconds in milliseconds
    }

    // Call the hideAlerts function when the page is loaded
    window.onload = function () {
        hideAlerts();
    };
</script>

        <div class="row property__gallery">
            <div class="col-lg-3 col-md-4 col-sm-6 mix" th:each="product, iterStat : ${products}" th:if="${iterStat.index} &lt; 8">
                <div class="product__item">
                        <div class="product__item__pic"
                             th:style="'background-image: url(data:image/png;base64,' + ${encodedImagesList[__${iterStat.index}__]} + '); background-size: cover; background-position: center;'">
                            <div class="label new">New</div>   <!-- Add this block to display error message -->

                            <ul class="product__hover">
                                <li>
                                    <a th:href="'data:image/png;base64,' + ${encodedImagesList[__${iterStat.index}__]}" class="image-popup">
                                        <span class="arrow_expand"></span>
                                    </a>
                                </li>

                                <li>
                                        <a th:href="'/user/wishlist/add/' + ${product.id}" ><span class="icon_heart_alt"></span></a>
                                </li>
                                <li>
                                    <a th:href="'/user/cart/add/' + ${product.id}"><span class="icon_bag_alt"></span></a>
                                </li>
                                <li><a th:href="@{/productView/{productId}(productId=${product.id})}"><span class="fa fa-eye"></span></a></li>
                            </ul>
                        </div>
                    <div class="product__item__text">
                        <h6 th:text="${product.name}"><a href="#">name</a></h6>
                        <div class="rating">
                            <i th:each="starNumber : ${#numbers.sequence(1, 5)}"
                               class="fa"
                               th:classappend="${starNumber <= product.averageRating ? 'fa-star' : 'fa-star-o'}">&nbsp;&nbsp;</i>
                        </div>
                        <div style="display: inline;">
                            <del th:text="${product.actualPrice}" th:if="${product.myPrice < product.actualPrice}"></del>
                        </div>
                        <!-- Use inline CSS for the style -->
                        <div  style="display: block;">
                            <p class="product__price" th:text="${product.myPrice}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- Product Section End -->



<!-- Banner Section Begin -->
<section class="banner" data-th-fragment="banner"   th:style="'background-image: url(data:image/png;base64,' + ${banner.imageDataAsBase64} + ');background-size: cover; background-position: center;'">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-8 m-auto">
                <div class="banner__slider owl-carousel">
                    <div class="banner__item" th:each="i : ${#numbers.sequence(1, 3)}"  >
                        <div class="banner__text" >
                            <span th:text="${banner.collection}"></span>
                            <h1 th:text="${banner.saleEvent}">The Project Jacket</h1>
                            <a th:href="@{/category/{Id}/{type}(Id=${banner.category.id},type='category')}">Shop now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Banner Section End -->


<!-- Trend Section Begin -->
<section class="trend spad"  data-th-fragment="trend">
    <div class="container">
        <div class="row">

<!--                    Hot Trend-->

            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="trend__content">

                    <div class="section-title">
                        <h4>Hot Trend</h4>
                    </div>

                    <div class="trend__item">
                        <div class="trend__item__pic">
                            <img src="..frontEnd/img/trend/ht-1.jpg" alt="">
                        </div>
                        <div class="trend__item__text">
                            <h6>Chain bucket bag</h6>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="product__price">$ 59.0</div>
                        </div>
                    </div>
                    <div class="trend__item">
                        <div class="trend__item__pic">
                            <img src="../frontEnd/img/trend/ht-2.jpg" alt="">
                        </div>
                        <div class="trend__item__text">
                            <h6>Pendant earrings</h6>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="product__price">$ 59.0</div>
                        </div>
                    </div>
                    <div class="trend__item">
                        <div class="trend__item__pic">
                            <img src="../frontEnd/img/trend/ht-3.jpg" alt="">
                        </div>
                        <div class="trend__item__text">
                            <h6>Cotton T-Shirt</h6>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="product__price">$ 59.0</div>
                        </div>
                    </div>
                </div>
            </div>
<!--                   End -Of Hot Trend-->


 <!--                    Best Seller -->

            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="trend__content">
                    <div class="section-title">
                        <h4>Best seller</h4>
                    </div>
                    <div class="trend__item">
                        <div class="trend__item__pic">
                            <img src="../frontEnd/img/trend/bs-1.jpg" alt="">
                        </div>
                        <div class="trend__item__text">
                            <h6>Cotton T-Shirt</h6>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="product__price">$ 59.0</div>
                        </div>
                    </div>
                    <div class="trend__item">
                        <div class="trend__item__pic">
                            <img src="../frontEnd/img/trend/bs-2.jpg" alt="">
                        </div>
                        <div class="trend__item__text">
                            <h6>Zip-pockets pebbled tote <br />briefcase</h6>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="product__price">$ 59.0</div>
                        </div>
                    </div>
                    <div class="trend__item">
                        <div class="trend__item__pic">
                            <img src="img/trend/bs-3.jpg" alt="">
                        </div>
                        <div class="trend__item__text">
                            <h6>Round leather bag</h6>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="product__price">$ 59.0</div>
                        </div>
                    </div>
                </div>
            </div>
<!--                 End-Of Best Seller -->


<!--            Featured Products-->
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="trend__content">
                    <div class="section-title">
                        <h4>Feature</h4>
                    </div>
                    <div class="trend__item">
                        <div class="trend__item__pic">
                            <img src="img/trend/f-1.jpg" alt="">
                        </div>
                        <div class="trend__item__text">
                            <h6>Bow wrap skirt</h6>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="product__price">$ 59.0</div>
                        </div>
                    </div>
                    <div class="trend__item">
                        <div class="trend__item__pic">
                            <img src="img/trend/f-2.jpg" alt="">
                        </div>
                        <div class="trend__item__text">
                            <h6>Metallic earrings</h6>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="product__price">$ 59.0</div>
                        </div>
                    </div>
                    <div class="trend__item">
                        <div class="trend__item__pic">
                            <img src="img/trend/f-3.jpg" alt="">
                        </div>
                        <div class="trend__item__text">
                            <h6>Flap cross-body bag</h6>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="product__price">$ 59.0</div>
                        </div>
                    </div>
                </div>
            </div>
<!--          End-Of  Featured Products-->

        </div>
    </div>
</section>
<!-- Trend Section End -->
<!--                    id="countdown-time"-->
<!-- Discount Section Begin -->
<section class="discount" data-th-fragment="discount">
    <h1><span>Offer Deals</span></h1>
    <div class="container banner__slider owl-carousel">
        <div class="row" th:each="categoryOffer : ${categoryOffers}">
            <div class="col-lg-6 p-0">
                <div class="discount__pic">
                    <img th:src="'data:image/png;base64,' + ${categoryOffer.imageDataAsBase64}" alt="" />
                </div>
            </div>
            <div class="col-lg-6 p-0">
                <div class="discount__text">
                    <div class="discount__text__title">
                        <span>Discount</span>
                        <h2 th:text="${categoryOffer.saleEvent}"></h2>
                       <span>Sale</span> <h5 th:text="${categoryOffer.discountPrice + '%'}"></h5>
                    </div>
                    <div class="countdown__countdown" th:attr="data-expiration-date=${categoryOffer.expirationDate}" th:id="'countdown_' + ${categoryOffer.category.id}">

                        <div class="countdown__item">
                            <span id="days"></span>
                            <p>Days</p>
                        </div>
                        <div class="countdown__item">
                            <span id="hours"></span>
                            <p>Hours</p>
                        </div>
                        <div class="countdown__item">
                            <span id="minutes"></span>
                            <p>Minutes</p>
                        </div>
                        <div class="countdown__item">
                            <span id="seconds"></span>
                            <p>Seconds</p>
                        </div>
                    </div>

                    <a th:href="@{/category/{Id}/{type}(Id=${categoryOffer.category.id},type='category')}">Shop now</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Discount Section End -->


<!-- Services Section Begin -->
<section class="services spad" data-th-fragment="service">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <i class="fa fa-car"></i>
                    <h6>Free Shipping</h6>
                    <p>For all oder over $99</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <i class="fa fa-money"></i>
                    <h6>Money Back Guarantee</h6>
                    <p>If good have Problems</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <i class="fa fa-support"></i>
                    <h6>Online Support 24/7</h6>
                    <p>Dedicated support</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <i class="fa fa-headphones"></i>
                    <h6>Payment Secure</h6>
                    <p>100% secure payment</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Services Section End -->


<!-- Instagram Begin -->
<div class="instagram" data-th-fragment="instagram">
    <div class="container-fluid">
        <div class="row" >
            <div class="col-lg-2 col-md-4 col-sm-4 p-0 " th:each="instagram : ${instagrams}">
                <div class="instagram__item" th:style="'background-image: url(data:image/png;base64,' + ${instagram.imageDataAsBase64} + ');background-size: cover; background-position: center;'">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a th:href="${instagram.url}" target="_blank" th:text="'@'+${instagram.instagramId}">@ mirra_shop</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Instagram End -->

<!-- Footer Section Begin -->
<footer class="footer" data-th-fragment="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-7">
                <div class="footer__about">
                    <div class="footer__logo">
                        <a href="../basicTemplates/index.html"><img src="img/logo.png" alt=""></a>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                        cilisis.</p>
                    <div class="footer__payment">
                        <a href="#"><img src="../img/payment/payment-1.png" alt=""></a>
                        <a href="#"><img src="../img/payment/payment-2.png" alt=""></a>
                        <a href="#"><img src="../img/payment/payment-3.png" alt=""></a>
                        <a href="#"><img src="../img/payment/payment-4.png" alt=""></a>
                        <a href="#"><img src="../img/payment/payment-5.png" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-5">
                <div class="footer__widget">
                    <h6>Quick links</h6>
                    <ul>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Blogs</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4">
                <div class="footer__widget">
                    <h6>Account</h6>
                    <ul>
                        <li><a href="#">My Account</a></li>
                        <li><a href="#">Orders Tracking</a></li>
                        <li><a th:href="@{/cart}">Checkout</a></li>
                        <li><a href="#">Wishlist</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-8">
                <div class="footer__newslatter">
                    <h6>NEWSLETTER</h6>
                    <form action="#">
                        <input type="text" placeholder="Email">
                        <button type="submit" class="site-btn">Subscribe</button>
                    </form>
                    <div class="footer__social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-youtube-play"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                <div class="footer__copyright__text">
                    <p>Copyright &copy; <script>document.write(new Date().getFullYear());</script> All rights reserved | This E-commerce is made with <i class="fa fa-heart" aria-hidden="true"></i> for <a href="https://colorlib.com" target="_blank">Bee&Baa</a></p>
                </div>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->

<!-- Search Begin -->
<div class="search-model" data-th-fragment="search">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <form class="search-model-form" action="/category/search" method="get">
            <input type="text" id="search-input" name="alphabet" placeholder="Search here.....">
            <button type="submit">Search</button>
        </form>
    </div>
</div>
<!-- Search End -->


<!-- Js Plugins -->
<div data-th-fragment="script" data-th-remove="tag">

<script src="/frontEnd/js/jquery-3.3.1.min.js"></script>
    <!-- Include jQuery (required by Magnify) -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/frontEnd/js/bootstrap.min.js"></script>
<script src="/frontEnd/js/jquery.magnific-popup.min.js"></script>
<script src="/frontEnd/js/jquery-ui.min.js"></script>
<script src="/frontEnd/js/mixitup.min.js"></script>
<script src="/frontEnd/js/jquery.countdown.min.js"></script>
<script src="/frontEnd/js/jquery.slicknav.js"></script>
<script src="/frontEnd/js/owl.carousel.min.js"></script>
<script src="/frontEnd/js/jquery.nicescroll.min.js"></script>
<script src="/frontEnd/js/main.js"></script>


<!--&lt;!&ndash;    add to cart-list&ndash;&gt;-->
<!--    <script>$(document).ready(function () {-->
<!--    $(".add-to-cartlist").click(function () {-->
<!--        var productId = parseInt($(this).data("product-id")); // Parse as integer-->
<!--        console.log("Product ID:", productId);-->

<!--        $.ajax({-->
<!--            type: "POST",-->
<!--            url: "/cartlist/add",-->
<!--            data: { productId: productId },-->
<!--            dataType: "json",-->
<!--            success: function (response) {-->
<!--                console.log("Response from server:", response);-->

<!--                var message = response.message;-->

<!--                if (message === "Product added to cart.") {-->
<!--                    console.log("Product added successfully to your cart.");-->
<!--                    alert("Product added successfully to your cart.");-->
<!--                } else if (message === "Product quantity updated.") {-->
<!--                    console.log("Product quantity updated in your cart.");-->
<!--                    alert("Product quantity updated in your cart.");-->
<!--                }-->

<!--                // Perform a full page refresh-->
<!--                window.location.reload();-->
<!--            },-->
<!--            error: function (response) {-->
<!--                console.log("Error occurred.");-->
<!--                console.log(response);-->
<!--                alert(response.responseText);-->

<!--                 // Perform a full page refresh-->
<!--                window.location.reload();-->
<!--            }-->
<!--        });-->
<!--    });-->
<!--});-->
<!--</script>-->

<!--update cartlist-quantity-->
<script>
        $(document).ready(function () {
    // Handle item increment and decrement
    $(".quantity-controls").on("click", ".add-cartlist, .remove-from-cartlist", function () {
        var productId = parseInt($(this).data("product-id")); // Parse as integer
        var action = $(this).hasClass("add-cartlist") ? "add" : "remove"; // Determine if it's an increment or decrement action

        $.ajax({
            type: "POST",
            url: "/cartlist/updateQuantity",
            data: { productId: productId, action: action },
            dataType: "json",
            success: function (response) {
                console.log("Response from server:", response);

                var message = response.message;

                if (message === "Product added to cart.") {
                    console.log("Product added successfully to your cart.");
                    alert("Product added successfully to your cart.");
                } else if (message === "Product quantity updated.") {
                    console.log("Product quantity updated in your cart.");
                }

                // Perform a full page refresh
                window.location.reload();
            },
            error: function (response) {
                console.log("Error occurred.");
                console.log(response);
                alert(response.responseText);
                // Perform a full page refresh
                window.location.reload();
            }
        });
    });
});

    </script>

<!--Count-down script-->
    <script>
    // Get all countdown elements using a class selector
    var countdowns = document.querySelectorAll(".countdown__countdown");

    // Function to update the countdown for a specific element
    function updateCountdown(countdownElement) {
        // Get the expiration date string from the current element
        var expirationDateStr = countdownElement.getAttribute("data-expiration-date");

        // Parse the date string and create a Date object
        var dateParts = expirationDateStr.split("-");
        var expirationDate = new Date(dateParts[0], dateParts[1] - 1, dateParts[2]);

        function updateCountdownDisplay() {
            var currentDate = new Date();
            var timeRemaining = expirationDate - currentDate;

            if (timeRemaining <= 0) {
                // Handle the case when the countdown has expired
                countdownElement.innerHTML = "Countdown Expired";
            } else {
                var days = Math.floor(timeRemaining / (1000 * 60 * 60 * 24));
                var hours = Math.floor((timeRemaining % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                var minutes = Math.floor((timeRemaining % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((timeRemaining % (1000 * 60)) / 1000);

                // Update the countdown elements in your HTML
                countdownElement.querySelector("#days").textContent = days;
                countdownElement.querySelector("#hours").textContent = hours;
                countdownElement.querySelector("#minutes").textContent = minutes;
                countdownElement.querySelector("#seconds").textContent = seconds;
            }
        }

        // Call the updateCountdownDisplay function immediately to set the countdown
        updateCountdownDisplay();

        // Call the updateCountdownDisplay function every second
        setInterval(updateCountdownDisplay, 1000);
    }

    // Call the updateCountdown function for each countdown
    countdowns.forEach(function (countdownElement) {
        updateCountdown(countdownElement);
    });
</script>
</div>


</body>

</html>