<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />

    <title>Title</title>
    <link rel="stylesheet" href="/frontEnd/css/styles.min.css" type="text/css"  />

</head>
<body>

<div class="card">
    <div class="close-icon"><a th:href="@{/user/myOrders}">X</a></div>


<!--    <span style="display: inline-block; width: 20px; height: 20px; background-color: #fc6203; border-radius: 50%; text-align: center; line-height: 20px; cursor: pointer;" onmouseover="this.style.backgroundColor='#00ff00';" onmouseout="this.style.backgroundColor='#ff0000';"><a th:href="@{/user/myOrders}">x</a></span>-->


    <div class="title">Purchase Receipt</div>
    <div class="info">
        <div class="row">
            <div class="col-7">
                <span class="heading">Order Date</span><br />
                <span class="detail" th:text="${order.orderDate.toLocalDate()}"></span>
            </div>

            <div class="col-5 pull-right">
                <span class="heading">Ordered Address</span><br />
                <span class="detail" th:text="${order.address.address}"></span>
            </div>
            <div class="col-5 pull-right">
                <span class="heading">Payment Method</span><br />
                <span class="detail" th:text="${order.method}"></span>
            </div>
        </div>
    </div>

    <div class="pricing">
        <div class="row">
            <div class="col-9">
                <span id="name">ORDERED DETAILS</span>
            </div>
            <div class="col-3">
                <table style="width: 100%; text-align: center;">
                    <!-- Display the flash attribute message if it exists -->
                    <thead>
                    <tr>
                        <th>Product Name</th>
                        <th>Ordered Quantity</th>
                        <th>Price</th>
                        <th>Discount Price</th>

                    </tr>
                    </thead>
                    <tbody>
                    <!-- Use Thymeleaf to iterate through the list of order items and populate the table rows -->
                    <tr th:each="orderItem, rowStat : ${order.orderItems}">
                        <td th:text="${orderItem.product.name}"></td>
                        <td th:text="${orderItem.quantity}"></td>
                        <td th:text="${orderItem.actualPrice}"></td>
                        <td th:text="${orderItem.price}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="total">
        <div class="row">
            <div class="col-3">
                <p>Sub Total: <span th:text="${order.granTotal}"></span></p>
                <big>Grand Total: <span th:text="${order.purchaseTotal}"></span></big>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="row">
            <div class="col-2">
                <img class="img-fluid" src="https://i.imgur.com/YBWc55P.png" />&nbsp;&nbsp;&nbsp;

                <a th:href="'/invoice/' + ${order.id} + '/pdf'" class="btn btn-primary">Download PDF</a>
            </div>
            <div class="col-10">Want any help? Please &nbsp;<a>contact us</a></div>
        </div>
    </div>
</div>
</body>
</html>
