<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">

<head data-th-replace="~{fragments/basic::head}">
  <link rel="stylesheet" href="../frontEnd/css/emptyCart.css" type="text/css">

</head>
<body>

<!--&lt;!&ndash; Page Preloder &ndash;&gt;-->
<!--<div data-th-replace="~{fragments/basic::preload}"></div>-->


<!-- Offcanvas Menu Begin -->
<div data-th-replace="~{fragments/basic::offcanvas}"></div>
<!-- Offcanvas Menu End -->

<!-- Header Section Begin -->
<header data-th-replace="~{fragments/basic::header}">
</header>
<!--End of Header Section  -->

<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb__links">
          <a href="index.html"><i class="fa fa-home"></i> Home</a>
          <span>Shopping cart</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Breadcrumb End -->

<!-- Shop Cart Section Begin -->
<section class="shop-cart spad">
  <div th:if="${#lists.isEmpty(cartlist)}" class="container-fluid  mt-100">
    <div class="row">

      <div class="col-md-12">

        <div class="card">
          <div class="card-header">
          </div>
          <div class="card-body cart">
            <div class="col-sm-12 empty-cart-cls text-center">
              <img src="https://i.imgur.com/dCdflKN.png" width="130" height="130" class="img-fluid mb-4 mr-3">
              <h3><strong>Your Cart is Empty</strong></h3>
              <h4>Add something to make me happy :)</h4>
              <a href="/" class="btn btn-primary cart-btn-transform m-3" data-abc="true">continue shopping</a>


            </div>
          </div>
        </div>


      </div>

    </div>

  </div>

  <div th:unless="${#lists.isEmpty(cartlist)}" class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="shop__cart__table">

          <table id="cart_Table" style="width: 100%;">
            <div th:if="${error != null}" class="alert alert-danger" id="error-alert">
              <p th:text="${error}"></p>
            </div>
            <div th:if="${success != null}" class="alert alert-success" id="success-alert">
              <p th:text="${success}"></p>
            </div>
            <thead>
            <tr>
              <th>Product</th>
              <th>Name</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Total</th>
              <th>Check-out</th>
              <th>Remove</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="cartlistItem, itemIndex : ${cartlist}">
              <td class="cart_list_item" style="padding-bottom: 20px;">
                <!-- Display the product image -->
                <img th:src="'data:image/png;base64,' + ${encodedImagesList[itemIndex.index]}" alt="" height="150px" width="150px">
              </td>
              <td><b th:text="${cartlistItem.products.name}"></b></td>
              <!-- Display the product price or discounted price based on the presence of a coupon -->
              <td><del th:text="${cartlistItem.products.actualPrice}" th:if="${cartlistItem.products.myPrice < cartlistItem.products.actualPrice}"></del><p th:text="${cartlistItem.products.myPrice}"></p></td>

              <td>
                <div class="quantity-controls">
                  <a th:href="'/user/cart/add/' + ${cartlistItem.products.id} + '?add=false'">-</a>
                  <b><span th:text="${cartlistItem.quantity}"></span></b>
                    <a th:href="'/user/cart/add/' + ${cartlistItem.products.id}">+</a>
                </div>
              </td>
              <!-- Display the product price or discounted price based on the presence of a coupon -->
              <td><del th:text="${cartlistItem.products.actualPrice * cartlistItem.quantity} " th:if="${cartlistItem.products.myPrice < cartlistItem.products.actualPrice}"></del><p th:text="${cartlistItem.products.myPrice * cartlistItem.quantity}"></p></td>

              <td>
                <div class="quantity-controls">
                <a th:href="@{'/user/checkOut/single?productId=' + ${cartlistItem.products.id} + '&productQuantity=' + ${cartlistItem.quantity} }">
                  <span class="icon_adjust-horiz"></span>
                </a>
                </div>
              </td>

              <td>
                <div class="quantity-controls">
                  <a onclick="return confirm('Are you sure you want to delete this product?')" th:href="@{'/user/cart/removeProduct/' + ${cartlistItem.id}}" class="remove-item">x</a>
                </div>
              </td>
            </tr>
            <tr>
              <!-- This is where the grand total should be displayed -->
              <td colspan="5"></td>
              <td>
                <b>Grand Total:</b>
              </td>
              <td th:text="${grandTotal}" ></td>
            </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="cart__btn">
          <a th:href="@{/}">Continue Shopping</a>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="cart__btn update__btn">
          <!-- Display success message if available -->
          <div th:if="${successMessage}" class="success-message">
            <p th:text="${successMessage}"></p>
          </div>
          <!--          <a th:href="@{/cartlist/clear}" ><span class="icon_loading"></span> Clear cart</a>-->
          <a id="clear-cart" th:href="@{/user/cart/clear}"  onclick="return confirm('Are you sure you want to delete this category?')" ><span class="icon_loading"></span> Clear cart</a>

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div th:if="${not #lists.isEmpty(couponsInRange)}">
          <b>Available Discount codes</b>
          <table>
            <tbody>
            <!-- Use Thymeleaf iteration to loop through the coupons -->
            <tr th:each="coupon : ${couponsInRange}">
              <td th:text="${coupon.code}"></td>
              <td th:text="'for amount ' + ${coupon.minPurchaseAmt}" style="padding-left: 10px;"></td>
            </tr>
            </tbody>
          </table>
        </div>
        <br>
      </div>
      <div class="col-lg-4 offset-lg-2">
        <div class="cart__total__procced">
          <h6>Cart total</h6>
          <ul>
            <li>Subtotal
              <span> <del th:text="${subTotal}" th:if="${subTotal > grandTotal}"></del></span>
              <span th:text="${subTotal}" th:if="${subTotal <= grandTotal}"></span>
            </li>
            <li>Total <span th:text="${grandTotal}"></span></li>
          </ul>
          <a href="/cart/checkout" class="primary-btn">Proceed to checkout</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Shop Cart Section End -->


<!-- Instagram Begin -->
<div data-th-replace="~{fragments/basic::instagram}" ></div>
<!-- Instagram End -->

<!-- Footer Section Begin -->
<footer data-th-replace="~{fragments/basic::footer}" ></footer>
<!-- Footer Section End -->

<!-- Search Begin -->
<div data-th-replace="~{fragments/basic::search}" ></div>
<!-- Search End -->


<!-- Js Plugins -->
<div data-th-replace="~{fragments/basic::script}"> </div>


</body>

</html>