<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head data-th-replace="~{fragments/adminBasic :: head}">
</head>

<body>
<!--  Body Wrapper -->
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">
    <div
            class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
        <div class="d-flex align-items-center justify-content-center w-100">
            <div class="row justify-content-center w-100">
                <div class="col-md-8 col-lg-6 col-xxl-3">
                    <div class="card mb-0">
                        <div class="card-body">
                            <div style="display: flex; align-items: center;">
                                <a th:href="@{/admin/dashboard}" style="color: black; text-decoration: none;">
                                    <i class="ti ti-aperture"></i> Dash-Board
                                </a>
                                <p style="margin: 0 5px;"> > </p>
                                <a th:href="@{/categories}" style="color: black; text-decoration: none;">
                                    Categories
                                </a>
                            </div>
                            <a href="Admin/index.html" class="text-nowrap logo-img text-center d-block py-3 w-100">
                                <img src="../assets/images/logos/dark-logo.svg" width="180" alt="">
                            </a>
                            <p class="text-center">Register to Bee&Baa</p>
                            <form th:action="@{'/admin/categories/updateCategory/'+ ${categoryDetails.id}}" th:object="${category}" method="post" enctype="multipart/form-data">
                                <div class="mb-3">
                                    <label for="name">Category Name</label>
                                    <input type="text" id="name" name="name" th:value="${categoryDetails.name}" class="form-control" required>
                                </div>
                                <div class="mb-3">
                                    <label for="description">Description</label>
                                    <input type="text" id="description" name="description" th:value="${categoryDetails.description}" class="form-control" required>
                                </div>


                                <!-- Display the image if it exists in the category -->
                                <div class="mb-3" th:if="${categoryDetails.imageDataAsBase64 != null}">
                                    <label >Image Preview</label>
                                    <img  th:src="'data:image/jpeg;base64,' + ${categoryDetails.imageDataAsBase64}" style="max-width: 300px;">
                                </div>


                                <div class="mb-3">
                                    <label for="imageFile">Add Image <span style="color: red;">(only one image allowed)</span></label>
                                    <input type="file" id="imageFile" name="imageFile" onchange="validateImage(event)" class="form-control" accept="image/*" >
                                </div>

                                <img id="imagePreview" src="#" alt="Image Preview" style="max-width: 300px; display: none;">

                                <button class="btn btn-primary col-md-12">Update</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div data-th-replace="~{fragments/adminBasic :: script}"></div>

</body>

</html>