<!doctype html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head data-th-replace="~{fragments/adminBasic::head}">
</head>

<body>
<!-- Body Wrapper -->
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">
  <!-- Sidebar Start -->
  <aside data-th-replace="~{fragments/adminBasic :: sidebar}" ></aside>
  <!--  Sidebar End -->
  <div class="body-wrapper">
    <div class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
      <div class="d-flex align-items-center justify-content-center w-100">
        <div class="row justify-content-center w-100">
          <div class="col-md-8 col-lg-6 col-xxl-12"> <!-- Updated class to col-xxl-12 -->
            <div class="card mb-100">
              <div class="card-body">
                <div>
                  <a th:href="@{/admin/dashBoard}" style="color: black;"><i class="ti ti-aperture"></i> Dash-Board</a>
                </div>
                <div class="table-responsive"> <!-- Added table-responsive class -->

                  <form th:action="@{/admin/addInstagram}" method="post" th:object="${newInstagramImage}" enctype="multipart/form-data">
                    <h2>Add New Banner</h2>
                    <p th:if="${uploadError}" th:text="${uploadError}" style="color: red;"></p>

                    <div class="mb-3">
                      <label for="instagramId">Instagram Id : </label>
                      <input type="text" id="instagramId" name="instagramId" th:field="*{instagramId}" class="form-control" required>
                    </div>
                    <div class="mb-3">
                      <label for="url">Instagram Account url :</label>
                      <input type="text" id="url" name="url" th:field="*{url}" class="form-control" required>
                    </div>

                    <div class="mb-3">
                      <label for="imageFile">Add Image <span style="color: red;">(only one image allowed)</span></label>
                      <input type="file" id="imageFile" name="imageFile" onchange="validateImage(event)" class="form-control" accept="image/*" required>
                    </div>
                    <img id="imagePreview" src="#" alt="Image Preview" style="max-width: 300px; display: none;">


                    <button type="submit" class="btn btn-primary col-md-12">Add</button>

                  </form>
                </div>
              </div>


              <div class="card-body">
                <table  style="width: 100%; text-align: center;">
                  <tr>
                    <th>Instagram Id</th>
                    <th>Image</th>
                    <th>Actions</th>
                  </tr>
                  <tr th:each="instagram: ${instagrams}">
                    <td th:text="${instagram.instagramId}"></td>
                    <td>
                      <img th:src="'data:image/png;base64,' + ${instagram.imageDataAsBase64}"  width="100" height="100" alt="Product Image"/>
                    </td>
                    <td>
                      <a ><i class="ti ti-trash"></i></a>

                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div data-th-replace="~{fragments/adminBasic :: script}"></div>


</body>
</html>
